* {
    box-sizing: border-box;
}
header {
    background-color: rgb(34, 37, 57);
    padding: 20px;
    text-align: center;
    color: white;
}

footer {
    background-color: rgb(34, 37, 57);
    padding: 20px;
    text-align: center;
    color: white;
}

nav {
    float: left;
    background-color: brown;
    height: 300px;
    padding: 30px;
}

article {
    height: 281px;
    padding: 40px;
}

section::after {
    clear: both;
    display: table;
}

